In [1]:
import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [7]:
series=pd.Series([4,8,15,16,23,42])

In [8]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [9]:
variable=["Aqib",1,"Ansari",2,"Data",3,"Science",34,25,75,35]

In [10]:
series1=pd.Series(variable)

In [11]:
print(series1)

0        Aqib
1           1
2      Ansari
3           2
4        Data
5           3
6     Science
7          34
8          25
9          75
10         35
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:
 Name | Age | Gender |
---|---|---|
 Alice | 25 | Female |
 Bob | 30 | Male |
 Claire | 27 | Female |

<br/>Then, print the DataFrame.

In [32]:
data={"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}

In [13]:
df=pd.DataFrame(data)

In [14]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans) A DataFrame is a two-dimensional data structure that can be thought of as a spreadsheet or a collection of two or more series with common indices. A Series is a one-dimensional data structure that can store heterogeneous type of data. Therefore, a single column DataFrame can have a name for its single column but a Series cannot have a column name

In [16]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [17]:
pd.DataFrame({"Name":["Aqib","Zoheb","Riyan"],"Surname":["Ansari","Shaikh","Shaikh"],"Age":[18,19,19]})

    Name Surname  Age
0   Aqib  Ansari   18
1  Zoheb  Shaikh   19
2  Riyan  Shaikh   19

Q5.What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Some common functions you can use to manipulate data in a Pandas DataFrame are:

apply(): This function is used to apply a function along a particular axis of a dataframe1.
<br/>ndim: This function returns the number of dimensions of the dataframe.
<br/>size: This function returns the size of the data structure (number of rows and columns).
<br/>sort_values(): This function sorts a dataframe by one or more columns3.

<br/>An example of when you might use one of these functions is when you want to sort a dataframe by a specific column. For instance, if you have a dataframe called df with columns name, age, and score, you can sort it by score in descending order using:

In [24]:
df1=pd.DataFrame({"Player":["Sachin","Virat","Ponting"],"Centuries":[100,74,71]})

In [25]:
df1.sort_values(by='Centuries')

    Player  Centuries
2  Ponting         71
1    Virat         74
0   Sachin        100

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans)Series, DataFrame and Panel are all data structures in pandas that are mutable in nature. This means that data can be added, updated or deleted from them. However, when a Series is added to a DataFrame, the Series length cannot be changed.That is when the DataFrame becomes immutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [27]:
s1=pd.Series(["Country","State","City","District"])

In [29]:
s2=pd.Series(["India","Maharashtra","Mumbai","Bandra"])

In [31]:
pd.DataFrame({"Common_noun":s1,"Proper_noun":s2})

  Common_noun  Proper_noun
0     Country        India
1       State  Maharashtra
2        City       Mumbai
3    District       Bandra