Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans)A database is an organized collection of data that is stored on a computer system and can be accessed, modified, and managed.

SQL databases are structured databases that use SQL (Structured Query Language) for manipulating data in the form of tables and for querying it. SQL databases are typically used for applications that require complex queries, transactions, and data integrity.

NoSQL databases are non-relational and use a variety of data models, including key-value stores, document stores, graph databases, and columnar databases. NoSQL databases are typically used for applications that require high scalability, high availability, and high performance. They are also suitable for storing large volumes of unstructured data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans)DDL stands for Data Definition Language. It is a syntax used to define the structure of a database and its objects. DDL statements are used to create, modify, and remove database objects such as tables, indexes, views, and stored procedures.

CREATE is used to create a new table, index, or stored procedure.

DROP is used to delete an existing table, index, or stored procedure.

ALTER is used to modify an existing table, index, or stored procedure.

TRUNCATE is used to delete all data from a table, but not the table itself.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans)DML stands for Data Manipulation Language. It is a language used to manipulate the data that is stored in a database.

INSERT: This statement is used to insert new data into a database table. 

Example: INSERT INTO customers (customer_name, customer_address) VALUES ('John Doe', '123 Main Street');

UPDATE: This statement is used to update existing data in a database table. 

Example: UPDATE customers SET customer_address = '456 Market Street' WHERE customer_name = 'John Doe';

DELETE: This statement is used to delete existing data in a database table. 

Example: DELETE FROM customers WHERE customer_name = 'John Doe';

Q4. What is DQL? Explain SELECT with an example.

Ans)DQL (Data Query Language) is a language used to query, manipulate, and define the data in a database. It is mostly used to interact with databases such as MySQL, Oracle, and Microsoft SQL Server.

SELECT is the most commonly used statement in DQL. It is used to retrieve data from one or more tables in a database.

For example, let’s say you wanted to get all of the information from the “Customers” table in a database. You would use the following SELECT statement to do so:

SELECT * FROM Customers;

This statement would return all of the columns and rows from the “Customers” table.

Q5. Explain Primary Key and Foreign Key.

Ans)A primary key is a field in a table that uniquely identifies each row/record in a database table. It can be either a single field or a combination of fields. A foreign key is a field in a table that uniquely identifies a row/record in another table. It is used to establish and enforce a link between two tables. A foreign key is one table's reference to another table's primary key.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

<br/>mydb = mysql.connector.connect(
<br/>  host="localhost",
<br/>  user="abc",
<br/>  password="password"
<br/>)
<br/>mycursor = mydb.cursor()
<br/>mycursor.execute("Show databases;")
<br/>for i in mycursor:
<br/>  print(i)

The cursor() method is used to create a cursor object which is used to execute SQL queries. The cursor object is used to traverse the records from the result set.

The execute() method is used to execute an SQL query. This method takes an SQL query as an argument and returns a result set. This result set can be used to traverse the records using the cursor object.

In [ ]:
Give the order of execution of SQL clauses in an SQL query.