Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [1]:
import numpy as np
import pandas as pd

In [2]:
time=np.random.randint(2,8,size=100)
scores=np.random.randint(34,95,size=100)

In [3]:
results=pd.DataFrame({'Time (in hours)':time,'Exam scores':scores})

In [4]:
results.head()

   Time (in hours)  Exam scores
0                2           91
1                6           94
2                3           80
3                2           43
4                7           51

In [5]:
results.corr(method='pearson')

                 Time (in hours)  Exam scores
Time (in hours)         1.000000     0.038764
Exam scores             0.038764     1.000000

In Pearson correlation coefficient, it measures the relationship between 2 variables on a scale of (-1,1).
<br>From above relation between study hours and exam scores, it can be seen that both variables are positively correlated which means if study time increases, the scores also increases and if study time decreases, the scores also decrease.

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [6]:
sleep=np.random.randint(4,8,size=100)
job_satisfaction=np.random.randint(1,10,size=100)

In [7]:
data=pd.DataFrame({'Sleep time':sleep,'Job-satisfaction-level':job_satisfaction})

In [8]:
data

    Sleep time  Job-satisfaction-level
0            7                       1
1            5                       9
2            6                       2
3            7                       8
4            6                       7
..         ...                     ...
95           5                       7
96           4                       6
97           5                       1
98           5                       7
99           6                       5

[100 rows x 2 columns]

In [9]:
data.corr(method='spearman')

                        Sleep time  Job-satisfaction-level
Sleep time                1.000000               -0.001916
Job-satisfaction-level   -0.001916                1.000000

The spearman correlation shows that there is a positive relationship between job-satisfaction level and sleep time which means both features are directly proportional.

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [10]:
hours=np.random.randint(4,10,size=50)
bmi=np.random.randint(15,35,size=50)

In [11]:
health=pd.DataFrame({'Exercise per week (in hours)':hours,'Body Mass Index (BMI)':bmi})

In [12]:
health.head()

   Exercise per week (in hours)  Body Mass Index (BMI)
0                             4                     19
1                             5                     30
2                             7                     23
3                             7                     18
4                             4                     23

In [13]:
pearson=health.corr(method='pearson')
spearman=health.corr(method='spearman')
pearson

,Exercise per week (in hours),Body Mass Index (BMI)
Exercise per week (in hours),1.000000,0.038485
Body Mass Index (BMI),0.038485,1.000000

In [14]:
spearman

,Exercise per week (in hours),Body Mass Index (BMI)
Exercise per week (in hours),1.000000,0.052689
Body Mass Index (BMI),0.052689,1.000000

The spearman's rank correlation is 0.110721 and pearson correlation coefficient is 0.104438. Since both values are positive, hence the relationship is directly proportional. The difference between both the correlatoion is not large which means that relationship between these two variables is linear.

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [15]:
data=pd.DataFrame({'Hours spend on Television':np.random.randint(1,5,size=50),
                   'Level of physical activity':np.random.choice(['High','Moderate','Low'],size=50)})

In [16]:
data.head()

   Hours spend on Television Level of physical activity
0                          4                       High
1                          3                   Moderate
2                          2                       High
3                          2                       High
4                          1                   Moderate

In [17]:
from sklearn.preprocessing import OrdinalEncoder

In [18]:
encoder=OrdinalEncoder(categories=[['Low','Moderate','High']]) #Using ordinal encoding because we can't calculate pearson correlation on categorical data

In [19]:
data['encoded_level_of_activity']=encoder.fit_transform(data[['Level of physical activity']])

In [20]:
data.head()

,Hours spend on Television,Level of physical activity,encoded_level_of_activity
0,4,High,2.0
1,3,Moderate,1.0
2,2,High,2.0
3,2,High,2.0
4,1,Moderate,1.0

In [21]:
data.corr(method='pearson')

/tmp/ipykernel_98/2721894934.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr(method='pearson')

,Hours spend on Television,encoded_level_of_activity
Hours spend on Television,1.000000,-0.020123
encoded_level_of_activity,-0.020123,1.000000

Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:
|Age(Years)|Soft drink Preference|
|----------|-----------|
|25|Coke|
|42|Pepsi|
|37|Mountain Dew|
|19|Coke|
|31|Pepsi|
|28|Coke|

In [30]:
df=pd.DataFrame({'Age(Years)':[25,42,37,19,31,28],'Soft drink preference':['Coke','Pepsi','Mountain Dew','Coke','Pepsi','Coke']})
df.groupby(['Soft drink preference'])['Age(Years)'].mean()

Soft drink preference
Coke            24.0
Mountain Dew    37.0
Pepsi           36.5
Name: Age(Years), dtype: float64

According to the given data younger people prefer Coke while relatively elder people prefer Mountain Dew and Pepsi

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [22]:
sales=pd.DataFrame({'Sales per day':np.random.randint(5,20,size=100),'Sales per week':np.random.randint(30,60,size=100)})

In [23]:
sales

    Sales per day  Sales per week
0               8              43
1              11              35
2              18              53
3               7              55
4               5              53
..            ...             ...
95             11              31
96             15              35
97              8              50
98             18              55
99             12              35

[100 rows x 2 columns]

In [24]:
sales.corr(method='pearson')

                Sales per day  Sales per week
Sales per day        1.000000        0.023671
Sales per week       0.023671        1.000000